@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: clip;
}
body::-webkit-scrollbar {
  width: 0.6em;
  @apply bg-gray-200;
}
body::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-fpRed to-fpBlue;
  box-shadow: 0px 5px 10px 3px #9e0080, 0px -5px 10px 3px #704abb;
  border-radius: 10px;
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px 5px rgba(0, 0, 0, 10%);
}
body::-webkit-scrollbar-corner {
}
.no-scroll::-webkit-scrollbar,
.no-scroll::-webkit-scrollbar-corner,
.no-scroll::-webkit-scrollbar-track,
.no-scroll::-webkit-scrollbar-thumb {
  display: none;
}

body[dir="rtl"] {
  font-family: "Cairo", sans-serif;
}
body[dir="ltr"] {
  font-family: "Roboto", sans-serif;
}
.bg-header {
  background: radial-gradient(165.71% 165.71% at 50% 165.71%, #46033a 0%, #890370 100%);
}
nav a {
  position: relative;
}
nav a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  border-radius: 10px;
  bottom: -2px;
  @apply transition-all duration-200 end-0 bg-fpOrange;
}
nav > ul > li > a:hover::after,
nav > ul > li > a.router-link-active:not(.reviews)::after {
  @apply start-0 transition-all duration-200 lg:w-full;
}
nav a:hover,
nav a.router-link-active:not(.reviews) {
  @apply transition-all duration-200 text-fpOrange;
}
.overlay {
  position: relative;
}
.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 40%);
}
.text-reflect {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #9e0080 20%, #ffbc01 39%, #fff 10%);
  line-height: 3;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-breadcrumb.put {
  background: url("~/assets/images/global/breadcrumb.jpeg") no-repeat;
  background-size: cover;
}
.arro-hover:hover svg {
  animation: move_arrow 0.3s alternate infinite;
}
@keyframes move_arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

@media (max-width: 1024px) {
  .bg-hero {
    /* background-size: 100% !important; */
  }
}
